<ion-split-pane contentId="main" when="sm">

  <ion-menu contentId="main" swipeGesture="false" [side]="isMobile ? 'end':'start'">
    <ion-header class="ion-no-border bg-color-white">
      <div class="flex justify-content-center align-items-center gap-6 mt-8">
        <img *ngIf="closedMenu" src="/assets/images/logoGrandeFilled.png" alt="Logo Viana" width="40" height="40"
          class="mb-20">
        <img *ngIf="!closedMenu" src="/assets/images/logoGrandeFilled.png" alt="Logo Viana" height="60">

      </div>
    </ion-header>

    <ion-content class="scrollTrue bg-color-white">
      <ion-menu-toggle auto-hide="false">
        <div class=" flex flex-column justify-content-space-between mainColumn">
          <div class="scrollTrue">

            <div class="ion-padding">
              <div class="menuItem flex gap-6 addPointer h-40 mb-5" routerLink="/app/home" routerDirection="root"
                routerLinkActive="active-link">
                <mat-icon class="material-symbols-outlined color-gold align-self-center">home</mat-icon>
                <ion-text *ngIf="!closedMenu" class="fs-16 fb-500 align-self-center" color="primary">Início</ion-text>
              </div>
              <div class="menuItem flex gap-6 addPointer h-40 mb-5" routerLink="/app/history" routerDirection="root"
                routerLinkActive="active-link">
                <mat-icon class="material-symbols-outlined color-gold align-self-center">history_edu</mat-icon>
                <ion-text *ngIf="!closedMenu" class="fs-16 fb-500 align-self-center" color="primary">História</ion-text>
              </div>
              <div class="menuItem flex gap-6 addPointer h-40 mb-5" routerLink="/app/executive" routerDirection="root"
                routerLinkActive="active-link">
                <mat-icon class="material-symbols-outlined color-gold align-self-center">groups</mat-icon>
                <ion-text *ngIf="!closedMenu" class="fs-16 fb-500 align-self-center"
                  color="primary">Executivo</ion-text>
              </div>
              <div class="menuItem flex gap-6 addPointer h-40 mb-5" routerLink="/app/interestPoints"
                routerDirection="root" routerLinkActive="active-link">
                <mat-icon class="material-symbols-outlined color-gold align-self-center">where_to_vote</mat-icon>
                <ion-text *ngIf="!closedMenu" class="fs-16 fb-500 align-self-center" color="primary">Pontos de
                  Interesse</ion-text>
              </div>
              <div class="menuItem flex gap-6 addPointer h-40 mb-5" routerLink="/app/agenda" routerDirection="root"
                routerLinkActive="active-link">
                <mat-icon class="material-symbols-outlined color-gold align-self-center">event</mat-icon>
                <ion-text *ngIf="!closedMenu" class="fs-16 fb-500 align-self-center" color="primary">Agenda</ion-text>
              </div>
              <div class="menuItem flex gap-6 addPointer h-40 mb-5" routerLink="/app/about" routerDirection="root"
                routerLinkActive="active-link">
                <mat-icon class="material-symbols-outlined color-gold align-self-center">diversity_3</mat-icon>
                <ion-text *ngIf="!closedMenu" class="fs-16 fb-500 align-self-center" color="primary">Sobre</ion-text>
              </div>

            </div>
          </div>
        </div>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>