<ion-tabs>

  <ion-tab-bar slot="bottom" color="gold">
    <ion-tab-button tab="home" href="/home">
      <mat-icon class="material-symbols-outlined color-white align-self-center">settings</mat-icon>
      <ion-label color="white">Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/history">
      <mat-icon class="material-symbols-outlined color-white align-self-center">history_edu</mat-icon>
      <ion-label color="white">História</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="interestPoints" href="/interestPoints">
      <mat-icon class="material-symbols-outlined color-white align-self-center">where_to_vote</mat-icon>
      <ion-label color="white">Pontos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda" href="/agenda">
      <mat-icon class="material-symbols-outlined color-white align-self-center">event</mat-icon>
      <ion-label color="white">Agenda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>