<app-default-modal-header [title]="title"></app-default-modal-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flex flex-column justify-content-center  gap-16">
    <img class="eventImg addPointer" src="{{data.foto}}" alt="{{data.nome}}"
      style="width: 100%; height: 100%; object-fit: cover; max-height: 350px;">
    <ion-text class="ion-text-justify">{{data.historia}}</ion-text>

    <div class="flex flex-column gap-10">
      <ion-text class="fs-20 fb-500">{{data.nome}}</ion-text>
      <ion-text class="fs-16 ion-text-justify" color="darkgrey">{{data.descricao}}</ion-text>
      <ion-badge class="align-self-end fs-16" color="lightgrey" style="width: min-content;">{{data.data_inicio ?
        data.data_inicio + ' ➡️
        '+
        data.data_fim:data.data }}</ion-badge>
    </div>

    <ion-button size="small" fill="clear" color="gold" class="ion-text-capitalize"
      (click)="openMaps(data.coordenadas)">{{data.localizacao}} <ion-icon name="map-outline" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>