// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: var(--ion-color-white);
    --ion-font-family: 'DMsans';

    --ion-color-gold: #AA903D;
    --ion-color-gold-rgb: 170, 144, 61;
    --ion-color-gold-contrast: #000000;
    --ion-color-gold-contrast-rgb: 0, 0, 0;
    --ion-color-gold-shade: #967f36;
    --ion-color-gold-tint: #b39b50;

    --ion-color-primary: #1F1F1F;
    --ion-color-primary-rgb: 31, 31, 31;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1b1b1b;
    --ion-color-primary-tint: #353535;

    --ion-color-danger: #db3737;
    --ion-color-danger-rgb: 219, 55, 55;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #c13030;
    --ion-color-danger-tint: #df4b4b;

    --ion-color-darkgrey: #606060;
    --ion-color-darkgrey-rgb: 96, 96, 96;
    --ion-color-darkgrey-contrast: #ffffff;
    --ion-color-darkgrey-contrast-rgb: 255, 255, 255;
    --ion-color-darkgrey-shade: #545454;
    --ion-color-darkgrey-tint: #707070;

    --ion-color-brightlightgrey: #f3f1f8;
    --ion-color-brightlightgrey-rgb: 243, 241, 248;
    --ion-color-brightlightgrey-contrast: #000000;
    --ion-color-brightlightgrey-contrast-rgb: 0, 0, 0;
    --ion-color-brightlightgrey-shade: #d6d4da;
    --ion-color-brightlightgrey-tint: #f4f2f9;

    --ion-color-lightgrey: #E3E3E3;
    --ion-color-lightgrey-rgb: 227, 227, 227;
    --ion-color-lightgrey-contrast: #000000;
    --ion-color-lightgrey-contrast-rgb: 0, 0, 0;
    --ion-color-lightgrey-shade: #c8c8c8;
    --ion-color-lightgrey-tint: #e6e6e6;

    --ion-color-mediumgrey: #9E9C9C;
    --ion-color-mediumgrey-rgb: 158, 156, 156;
    --ion-color-mediumgrey-contrast: #000000;
    --ion-color-mediumgrey-contrast-rgb: 0, 0, 0;
    --ion-color-mediumgrey-shade: #8b8989;
    --ion-color-mediumgrey-tint: #a8a6a6;

    --ion-color-white: #ffffff;
    --ion-color-white-rgb: 255, 255, 255;
    --ion-color-white-contrast: #000000;
    --ion-color-white-contrast-rgb: 0, 0, 0;
    --ion-color-white-shade: #e0e0e0;
    --ion-color-white-tint: #ffffff;

    --ion-color-black: #000;
    --ion-color-black-rgb: 0, 0, 0;
    --ion-color-black-contrast: #ffffff;
    --ion-color-black-contrast-rgb: 255, 255, 255;
    --ion-color-black-shade: #000000;
    --ion-color-black-tint: #1a1a1a;

}