<ion-header collapse="fade" class="ion-no-border">
  <ion-toolbar color="light">

    <ion-buttons slot="end">
      <ion-menu-toggle autoHide="false">
        <ion-button (click)="toggleMenu()" color="gold">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="/assets/images/logoGrandeFilled.png" alt="Logo Viana" width="40" height="40">
    </ion-title>
  </ion-toolbar>
</ion-header>