.lendasStyle {
    padding: 5px;
    border-radius: 5px;
}

.lendasStyle:hover {
    background-color: #aa913d49;
}

.interestPointStyle {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 5px;
}