.lendasStyle {
    padding: 5px;
    border-radius: 5px;
}

.lendasStyle:hover {
    background-color: #aa913d49;
}

.interestPointStyle {
    width: 150px;
    height: 150px;
    border-radius: 7px;
    border: 2px solid var(--ion-color-gold);

    img {
        border-radius: 5px;
    }
}

.fullPoiCardStyle:hover {
    border-radius: 7px;
    background-color: rgba(187, 187, 187, 0.603);
}

.seeMore {
    padding-inline: 5px;
}

.seeMore:hover {
    background-color: #aa913d49;
    border-radius: 5px;

}