<ion-content [fullscreen]="true">
  <img src="/assets/images/introbg.webp" alt="intro background santa luzia" class="w-100 introimg" />
  <div
    class="flex flex-column justify-content-space-between h-100f w-100 justify-content-center align-items-center position-absolute introbg">
    <div class="top flex justify-content-end w-100">
      <ion-button fill="clear" size="large" color="gold" routerLink="/app/home" routerDirection="forward">
        <mat-icon class="material-symbols-outlined fb-500 icon-size-30">arrow_forward</mat-icon>
      </ion-button>
    </div>
    <div class="center flex flex-column">
      <img src="/assets/images/logoGrandeFilled.png" alt="logo viana" style="max-width: 300px;">
      <ion-text class="fs-24 ion-text-center fb-500">Bem-vindos à <br> Capital da Cultura</ion-text>
    </div>
    <div class="bottom">
      <ion-text class="fs-10 ion-text-center">No âmbito da disciplina de IHM - IPVC - ESTG - 19568 - Ricardo
        Lima</ion-text>
    </div>
  </div>
</ion-content>