<app-default-modal-header [title]="title"></app-default-modal-header>
<ion-content [fullscreen]="true">
  <img src="/assets/images/estg.png" alt="IPVC estg" style="max-height: 150px; width: 100%; object-fit: cover; ">
  <div class="ion-padding flex flex-column justify-content-center gap-10">
    <div class="flex justify-content-center">
      <div class="flex gap-6 align-items-center">
        <ion-icon name="triangle" color="gold"></ion-icon>
        <ion-text class="fs-24">Sobre o Projeto</ion-text>
      </div>
    </div>
    <div class="flex">
      <div class="flex flex-column w-100">
        <div class="flex flex-column gap-16">
          <div class="flex flex-column">
            <ion-text class="fb-500 fs-18">Ricardo Lima - 19568</ion-text>
            <ion-text class="fs-14" color="darkgrey">Orgulhosamente vianense. <br>
              Este projeto foi criado no âmbito de <span class="fb-500">IHM na ESTG-IPVC.</span>
            </ion-text>
          </div>
          <div class="flex">
            <ion-button size="small" fill="clear" style="color:#833AB4">
              <ion-icon slot="icon-only" name="logo-instagram" class="fs-18"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" style="color:#0A66C2">
              <ion-icon slot="icon-only" name="logo-linkedin" class="fs-18"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear">
              <ion-icon slot="icon-only" name="logo-github" class="fs-18"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
      <img src="/assets/images/eu.jpg" alt="eu" style="max-width: 150px; object-fit: cover;" class="euImg">
    </div>
  </div>
</ion-content>