.pointsImg {
    width: 125px;
    height: 125px;
    max-width: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--ion-color-gold);

    img {
        border-radius: 50%;
    }
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
}

.poiCard:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}